/*v1.3.7*/
#lessonTypeModal {
    position: relative;
    color: #555;
    font-size: 13px;
	color: #555;   
	z-index: 1050;
	background-color: #fff;
	border: 1px solid #999;
	border: 1px solid rgba(0,0,0,0.3);
	*border: 1px solid #999;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
	box-shadow: 0 3px 7px rgba(0,0,0,0.3);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	outline: none;
	display:block !important;
}

/*v1.3*/
#assessment .subform-repeatable-wrapper .control-group .control-label {
	display:none;
}

#assessment .subform-repeatable-wrapper .control-group .controls {
margin-left: 0px;
}

/*v1.3.5*/
input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
    cursor: not-allowed;
    background-color: #eee;
    pointer-events: none;
}

.format_types {
    position: relative;
    color: #555;
    font-size: 13px;
}
.format_types a {
    background: none scroll 0 0 #ececec;
    border: 1px solid #d1d1d1;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.45) inset;
    height: 60px;
    overflow: hidden;
    position: relative;
    width: 70px;
    
}
.format_types a span {
    background: none repeat scroll 0 0 #4985b8;
    bottom: 0;
    color: #fff;
    font-size: 10px;
    left: 0;
    line-height: 1.8;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.format_types a:before,
.format_types a:after {
    color: #cdcdcd;
    /* content: url(http://lmsdemo.aimsdigital.com/beta/media/com_tjlms/default/icons/ppt.png);*/

    font-family: FontAwesome;
    font-size: 28px;
    height: 100%;
    left: 0;
    line-height: 1.4;
    position: absolute;
    top: 0;
    transition: all 0.2s ease 0s;
    width: 100%;
}
.format_types a[data-type="Video"]:before {
    content: url("../../../media/com_tjlms/images/default/icons/video.png");
    margin-top: 5px;
}
.format_types a[data-type="Scorm"]:before {
    content: url("../../../media/com_tjlms/images/default/icons/scorm.png");
    margin-top: 5px;
}
.format_types a[data-type="Tjscorm"]:before {
    content: url("../../../media/com_tjlms/images/default/icons/scorm.png");
    margin-top: 5px;
}
.format_types a[data-type="Tincan"]:before {
    content: url("../../../media/com_tjlms/images/default/icons/scorm.png");
    margin-top: 5px;
}
.format_types a[data-type="Ppt"]:before {
    content: url("../../../media/com_tjlms/images/default/icons/ppt.png");
    margin-top: 5px;
}
.format_types a[data-type="Document"]:before {
    content: url("../../../media/com_tjlms/images/default/icons/document.png");
    margin-top: 5px;
}
.format_types a[data-type="Textmedia"]:before {
    content: url("../../../media/com_tjlms/images/default/icons/textmedia.png");
    margin-top: 5px;
}
.format_types a[data-type="Htmlzips"]:before {
    content: url("../../../media/com_tjlms/images/default/icons/htmlzips.png");
    margin-top: 5px;
}
.format_types a[data-type="Externaltool"]:before {
    content: url("../../../media/com_tjlms/images/default/icons/externaltool.png");
}
.format_types a[data-type="Event"]:before {
    content: url("../../../media/com_tjlms/images/default/icons/event.png");
    margin-top: 5px;
}
.format_types a[data-type="Survey"]:before {
    content: url("../../../media/com_tjlms/images/default/icons/survey.png");
    margin-top: 5px;
}
.format_types a[data-type="Quiz"]:before {
    content: url("../../../media/com_tjlms/images/default/icons/quiz.png");
    margin-top: 5px;
}
.format_types a[data-type="Exercise"]:before {
    content: url("../../../media/com_tjlms/images/default/icons/exercise.png");
    margin-top: 5px;
}
.format_types a[data-type="Feedback"]:before {
    content: url("../../../media/com_tjlms/images/default/icons/feedback.png");
    margin-top: 5px;
}
.format_types a:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

/*** BOOTSTRAP FILE UPLOAD---- ***/
.fileinput-button {
    position: relative;
    overflow: hidden;
    vertical-align: middle;
}
.fileupload input {
    position: absolute !important;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    font-size: 23px;
    direction: ltr;
    cursor: pointer;
}
.fileupload {
    margin-right: 10px;
}

.btn-file {
    position: relative;
    overflow: hidden;
    vertical-align: middle;
}
.btn-file > input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    cursor: pointer;
    border: solid transparent;
    border-width: 0 0 100px 200px;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-transform: translate(-300px, 0) scale(4);
    direction: ltr;
}
.fileupload {
    margin-bottom: 9px;
}
.fileupload .uneditable-input {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    cursor: text;
    color: #4a4545;
}
.fileupload .thumbnail {
    display: inline-block;
    margin-bottom: 5px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}
.fileupload .thumbnail > img {
    display: inline-block;
    max-height: 100%;
    vertical-align: middle;
}
.fileupload .btn {
    vertical-align: middle;
}
.fileupload-exists .fileupload-new,
.fileupload-new .fileupload-exists {
    display: none;
}
.fileupload-inline .fileupload-controls {
    display: inline;
}
.fileupload-new .input-append .btn-file {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}
.thumbnail-borderless .thumbnail {
    padding: 0;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.fileupload-new.thumbnail-borderless .thumbnail {
    border: 1px solid #ddd;
}
.control-group.warning .fileupload .uneditable-input {
    color: #a47e3c;
    border-color: #a47e3c;
}
.control-group.warning .fileupload .fileupload-preview {
    color: #a47e3c;
}
.control-group.warning .fileupload .thumbnail {
    border-color: #a47e3c;
}
.control-group.error .fileupload .uneditable-input {
    color: #b94a48;
    border-color: #b94a48;
}
.control-group.error .fileupload .fileupload-preview {
    color: #b94a48;
}
.control-group.error .fileupload .thumbnail {
    border-color: #b94a48;
}
.control-group.success .fileupload .uneditable-input {
    color: #468847;
    border-color: #468847;
}
.control-group.success .fileupload .fileupload-preview {
    color: #468847;
}
.control-group.success .fileupload .thumbnail {
    border-color: #468847;
}
/* 1.3.7*/
.statusbar .abort {
    padding: 0px 10px;
    background-color: #15497c;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    border-color: #15497c #15497c #0a223b;
    background-image: -webkit-linear-gradient(top, #2384d3, #15497c);
}
#assessment .subform-repeatable-group .radio input[type="radio"] {
    float: left;
    margin-left: -25px;
}
.tjBs3 #assessment .subform-repeatable-group .btn-group .btn + .btn {
    margin-left: 0;
}
.star {
    color: #c9302c;
}
