# Deny access to .htaccess
<Files .htaccess>
Order allow,deny
Deny from all
</Files>

# Deny access to files with extensions:
<FilesMatch "\.(php|txt|log|ini)$">
Order allow,deny
Deny from all
</FilesMatch>