
.scroll-img {
height: 225px;
overflow: hidden; padding: 0 10px !important;
}
.scroll-img ul li {
display: inline-block;
margin: 25px 35px;

vertical-align: top;
}
#demo5.scroll-img ul {
width: 1500px;
}

 .fc-img-cover{} .fc-icon_title{text-transform:uppercase;  margin:0px auto 0; text-align: center; padding:5px 0px;} .course-style figure{vertical-align: top; position: relative;} .fc-img-cover a{} .course-style figure img{ border: 2px solid #999; padding:10px; border-radius: 50%; margin:0 auto; transition: transform 0.4s ease 0s;  display: block; max-width: 100%; position: relative; } .course-style figure:hover img{opacity: 0; transform: scale(0.4);} .course-style figcaption {
backface-visibility: hidden;
    background: none repeat scroll 0 0 #24ccb2;
    border: 6px solid #e2e2e2;
    border-radius: 50%;
    color: #ed4e6e;
    height: 120%;
    left: -34px;
    opacity: 0;
    overflow: hidden;
    padding: 22px;
    position: absolute;
    text-align: center;
    top: -10px;
    transform: scale(0.7);
    transition: transform 0.4s ease 0s, opacity 0.4s ease 0s;
    width: 145%;



}  .course-style figure:hover figcaption { opacity: 1; transform: scale(1); }
.course-style span {
    color: #fff;
    font-size: 16px;
    font-weight: 300 !important;
    margin: 12px 5px;
    text-align: center;}

.carousel{
margin: 25px 0 50px;
    overflow: hidden;

}.carousel div{padding:0px;}

#demo5-backward, #demo5-forward{padding:10px; height:225px; width:100%; }

.demo5-btn .btn, .demo5-btn .btn:hover, .demo5-btn .btn:focus{background:none; outline: 0 none;}

@media  (max-width: 1280px){
.scroll-img ul li { margin: 25px 27px; }

}

@media (max-width:980px) {
.scroll-img ul li { margin: 25px 52px; }

}

@media (min-width: 768px) and (max-width: 801px)  {
.scroll-img ul li { margin: 25px 28px; }

}

@media (max-width: 640px){
.scroll-img ul li { margin: 25px 43px; }

}

@media (max-width: 480px){
.scroll-img ul li { margin: 25px 102px; }

}

@media (max-width: 360px)  {
.scroll-img ul li { margin: 25px 52px; }

}

@media (max-width: 320px){
.scroll-img ul li { margin: 25px 37px; }

}

.scroll-right-icon, .scroll-left-icon
{
	width:50px;
}
.demo5-btn, #demo5-backward, #demo5-forward{
padding:0px;
height:33px;
width:17%;}

.demo5-btn, #demo5-backward{

  margin-top:127px;
}
.demo5-btn, #demo5-forward{

  margin-top: -71px;
}
