#es {
  font-family: Helvetica, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-align: left;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  line-height: 1.538461538;
  direction: ltr;
}
#es *,
#es *:before,
#es *:after {
  box-sizing: border-box;
}
#es img,
#es input {
  min-width: 0;
  min-height: 0;
  max-width: 100%;
}
#es blockquote,
#es header,
#es nav,
#es figure,
#es article,
#es aside,
#es footer,
#es form {
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  border: 0;
  outline: 0;
  float: none;
  position: static;
  display: block;
  background: none;
  text-align: inherit;
  font-size: inherit;
  font-family: inherit;
  text-shadow: none;
}
#es input,
#es button,
#es select,
#es textarea {
  font-family: Helvetica, Arial, sans-serif;
}
#es h1,
#es h2,
#es h3,
#es h4,
#es h5,
#es h6 {
  border: none;
  box-shadow: none;
}
#es img {
  vertical-align: middle;
  border: 0;
}
#es hr {
  border: 0;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
#es table {
  border-collapse: collapse;
  border-spacing: 0;
}
#es tr,
#es td {
  border: 1px solid transparent;
}
#es a {
  background-color: transparent;
}
#es a:link {
  text-decoration: none;
}
#es a:hover,
#es a:focus,
#es a:active {
  background-color: inherit;
}
#es li {
  line-height: 1.538461538;
}
#es ul,
#es ol,
#es dd {
  margin-left: 16px;
  margin-left: 1.2307692307692em;
}
#es blockquote {
  line-height: 1.538461538;
}
#es pre {
  background: #333;
}
#es .divider {
  border-bottom: 0;
}
#es .form-group:before,
#es .form-group:after {
  content: " ";
  display: table;
}
#es .form-group:after {
  clear: both;
}
#es .btn .caret {
  margin-top: 0;
  margin-bottom: 0;
}
#es h1,
#es h2,
#es h3,
#es h4,
#es h5,
#es h6,
#es .es-h1,
#es .es-h2,
#es .es-h3,
#es .es-h4,
#es .es-h5,
#es .es-h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
#es h1 small,
#es h1 .small,
#es h2 small,
#es h2 .small,
#es h3 small,
#es h3 .small,
#es h4 small,
#es h4 .small,
#es h5 small,
#es h5 .small,
#es h6 small,
#es h6 .small,
#es .es-h1 small,
#es .es-h1 .small,
#es .es-h2 small,
#es .es-h2 .small,
#es .es-h3 small,
#es .es-h3 .small,
#es .es-h4 small,
#es .es-h4 .small,
#es .es-h5 small,
#es .es-h5 .small,
#es .es-h6 small,
#es .es-h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #777777;
}
#es h1,
#es h2,
#es h3 {
  margin-top: 0;
  margin-bottom: 10px;
}
#es h1 small,
#es h1 .small,
#es h2 small,
#es h2 .small,
#es h3 small,
#es h3 .small {
  font-size: 65%;
}
#es h4,
#es h5,
#es h6 {
  margin-top: 0;
  margin-bottom: 10px;
}
#es h4 small,
#es h4 .small,
#es h5 small,
#es h5 .small,
#es h6 small,
#es h6 .small {
  font-size: 75%;
}
#es .es-h1,
#es .es-h2,
#es .es-h3,
#es .es-h4,
#es .es-h5,
#es .es-h6 {
  margin: 0;
  padding: 0;
}
#es .es-h1 {
  font-size: 17px;
}
#es .es-h2 {
  font-size: 17px;
}
#es .es-h3 {
  font-size: 15px;
}
#es .es-h4 {
  font-size: 15px;
}
#es .es-h5 {
  font-size: 13px;
}
#es .es-h6 {
  font-size: 12px;
}
#es p {
  margin: 0 0 10px;
}
#es .lead {
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.4;
}
@media (min-width: 768px) {
  #es .lead {
    font-size: 18px;
  }
}
#es .bg-primary {
  color: #fff;
  background-color: #428bca;
}
a#es .bg-primary:hover,
a#es .bg-primary:focus {
  background-color: #3071a9;
}
#es .bg-success {
  background-color: #dff0d8;
}
a#es .bg-success:hover,
a#es .bg-success:focus {
  background-color: #c1e2b3;
}
#es .bg-info {
  background-color: #d9edf7;
}
a#es .bg-info:hover,
a#es .bg-info:focus {
  background-color: #afd9ee;
}
#es .bg-warning {
  background-color: #fcf8e3;
}
a#es .bg-warning:hover,
a#es .bg-warning:focus {
  background-color: #f7ecb5;
}
#es .bg-danger {
  background-color: #f2dede;
}
a#es .bg-danger:hover,
a#es .bg-danger:focus {
  background-color: #e4b9b9;
}
#es .page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
}
#es ul,
#es ol {
  margin-top: 0;
  margin-bottom: 10px;
}
#es ul ul,
#es ul ol,
#es ol ul,
#es ol ol {
  margin-bottom: 0;
}
#es dl {
  margin-top: 0;
  margin-bottom: 20px;
}
#es dt,
#es dd {
  line-height: 1.666666667;
}
#es dt {
  font-weight: bold;
}
#es dd {
  margin-left: 0;
}
@media (min-width: 768px) {
  #es .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  #es .dl-horizontal dd {
    margin-left: 180px;
  }
}
#es abbr[title],
#es abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #777777;
}
#es blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17px;
  border-left: 5px solid #eeeeee;
}
#es blockquote p,
#es blockquote ul,
#es blockquote ol {
  font-size: inherit;
}
#es blockquote p:last-child,
#es blockquote ul:last-child,
#es blockquote ol:last-child {
  margin-bottom: 0;
}
#es blockquote footer,
#es blockquote small,
#es blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.666666667;
  color: #777777;
}
#es blockquote footer:before,
#es blockquote small:before,
#es blockquote .small:before {
  content: '\2014 \00A0';
}
#es .blockquote-reverse,
#es blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
  text-align: right;
}
#es .blockquote-reverse footer:before,
#es .blockquote-reverse small:before,
#es .blockquote-reverse .small:before,
#es blockquote.pull-right footer:before,
#es blockquote.pull-right small:before,
#es blockquote.pull-right .small:before {
  content: '';
}
#es .blockquote-reverse footer:after,
#es .blockquote-reverse small:after,
#es .blockquote-reverse .small:after,
#es blockquote.pull-right footer:after,
#es blockquote.pull-right small:after,
#es blockquote.pull-right .small:after {
  content: '\00A0 \2014';
}
#es address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.666666667;
}
#es .g-list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}
#es .g-list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
#es .g-list-inline > li {
  display: inline-block;
  font-size: 12px;
}
#es .g-list-inline--delimited > li + li {
  margin-left: 4px;
}
#es .g-list-inline--delimited > li + li:before {
  content: attr(data-breadcrumb) "\00A0";
}
#es .g-list-inline--dashed > li {
  position: relative;
}
#es .g-list-inline--dashed >:not(:first-child) {
  margin-left: 8px;
  padding-left: 8px;
  border-left: 1px dotted #555;
}
#es .g-list-inline--space-right > li {
  margin-right: 16px;
}
#es .g-list-inline--space-left > li {
  margin-left: 16px;
}
#es .g-list--horizontal {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#es .g-list--horizontal > .g-list__item {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  display: inline-block;
  vertical-align: middle;
}
#es .has-dividers--right > .g-list__item {
  position: relative;
}
#es .has-dividers--right > .g-list__item:after {
  width: 3px;
  height: 3px;
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 50%;
  background-color: #eee;
}
#es .has-dividers--right>.g-list__item:last-child {
  margin-right: 0;
  padding-right: 0;
}
#es .has-dividers--right>.g-list__item:last-child:after {
  content: none;
}
