#es.view-registration .control-label {
  font-size: 13px;
}
#es.view-registration.layout-activation .es-complete-wrap,
#es.view-registration.layout-completeOauth .es-complete-wrap,
#es.view-registration.layout-completed .es-complete-wrap {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
}
#es.view-registration.layout-activation .es-complete-wrap .h4,
#es.view-registration.layout-completeOauth .es-complete-wrap .h4,
#es.view-registration.layout-completed .es-complete-wrap .h4 {
  font-size: 20px;
  margin: 20px 0;
}
#es.view-registration.layout-activation .es-complete-wrap .es-avatar,
#es.view-registration.layout-completeOauth .es-complete-wrap .es-avatar,
#es.view-registration.layout-completed .es-complete-wrap .es-avatar {
  margin: 0 auto;
}
#es.view-registration.layout-activation .es-complete-wrap .es-login-form,
#es.view-registration.layout-completeOauth .es-complete-wrap .es-login-form,
#es.view-registration.layout-completed .es-complete-wrap .es-login-form {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  border: 1px solid #d7d7d7;
  padding: 20px 15px;
  border-radius: 3px;
  text-align: left;
}
#es.view-registration.layout-activation .es-complete-wrap .es-login-form input[type="text"],
#es.view-registration.layout-activation .es-complete-wrap .es-login-form input[type="password"],
#es.view-registration.layout-completeOauth .es-complete-wrap .es-login-form input[type="text"],
#es.view-registration.layout-completeOauth .es-complete-wrap .es-login-form input[type="password"],
#es.view-registration.layout-completed .es-complete-wrap .es-login-form input[type="text"],
#es.view-registration.layout-completed .es-complete-wrap .es-login-form input[type="password"] {
  height: 40px;
}
#es.view-registration .list-profiles {
  margin: 0 auto;
}
#es.view-registration .list-profiles > li {
  margin-bottom: 15px;
}
#es.view-registration .list-profiles .list-profile {
  display: block;
  border: 1px solid #cccccc;
  color: #595959;
  border-radius: 3px;
}
#es.view-registration .list-profiles .list-profile:before,
#es.view-registration .list-profiles .list-profile:after {
  content: " ";
  display: table;
}
#es.view-registration .list-profiles .list-profile:after {
  clear: both;
}
#es.view-registration .list-profiles .list-profile .media-object {
  margin-right: 20px;
}
#es.view-registration .list-profiles .list-profile .modal-footer {
  padding: 8px 15px 10px;
  border-top: 1px solid #d7d7d7;
  border-left: none;
  border-right: none;
  border-bottom: none;
}
#es.view-registration .list-profiles .profile-members {
  margin-top: 30px;
}
#es.view-registration .list-profiles .list-profile-description {
  font-size: 12px;
}
#es.view-registration .list-profiles .list-profile-title {
  margin-top: 0;
}
#es.view-registration .list-profiles .btn-list-profile {
  clear: both;
}
#es.view-registration .form-horizontal .controls {
  margin-right: 40px;
}
#es.view-registration .form-horizontal .form-actions {
  padding-left: 20px;
  clear: both;
}
#es .es-profile-selected {
  padding: 8px 16px;
  color: #f5f5f5;
  background: #444;
  margin-bottom: 16px;
}
#es .es-complete-link {
  border: 1px solid #d7d7d7;
  color: #777777;
  display: block;
  padding: 20px;
  border-radius: 3px;
  -webkit-transition: all .15s linear;
  -o-transition: all .15s linear;
  transition: all .15s linear;
}
#es .es-complete-link:hover {
  color: #fff;
  background: #555;
  -webkit-transition: all .15s linear;
  -o-transition: all .15s linear;
  transition: all .15s linear;
}
#es .es-terms-field {
  height: 200px;
  border: 1px solid #d7d7d7 !important;
  color: #666 !important;
  background: #f2f2f2 !important;
  padding: 5px;
  overflow: auto;
  margin-bottom: 5px;
}
#es.is-mobile #registrationForm .control-label {
  width: 100%;
  text-align: left;
  font-weight: bold;
}
#es.is-mobile #registrationForm .controls {
  width: 100%;
  margin: 0;
  clear: both;
}
#es.is-mobile #registrationForm [data-registration-fields-item] {
  padding-top: 10px;
}
