.quizfieldset{
    position: relative;
    margin: 15px 0;
    padding: 39px 19px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.quizfieldset:after{
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #9da0a4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}
.quiz_questions:after{
	content:'Questions';
}

.tmt-display-none{
	display:none;
}

.section-edit-form{
	display:none;
	padding-top:40px;
}

.curriculum-ul .tjlms_section {
background: #ccc;
margin-bottom: 10px;
transition: 1s;
border-top: 1px solid #ddd;
border-right: 1px solid #ddd;
margin-top: 5px;
}
.question_layout{
	border-left: 3px solid #8EC38B !important;
	border: 1px solid #ccc;
	padding: 5px 0 5px 0 !important;
	margin-top: 5px;
}

.tmt_section_title{
	font-weight: bold;
}

.add_section_area
{
	margin-bottom: 75px;
}

.question_head_row
{
	background: #f0f0f0 !important;
	margin-top:5px ;
	transition: 1s;
	border: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding:5px 0 5px 0;
}
