#es.view-profile.layout-editPrivacy .privacy-contents {
  display: none;
  position: relative;
}
#es.view-profile.layout-editPrivacy .privacy-contents:first-child {
  display: block;
}
#es.view-profile.layout-editPrivacy .privacy-custom-menu {
  position: absolute;
  padding: 10px;
  min-width: 350px;
}
#es.view-profile.layout-editPrivacy .control-label {
  font-size: 13px;
}
#es.view-profile .form-notifications,
#es.view-profile .form-privacy {
  min-height: 300px;
}
#es .profile-data-timezone {
  position: relative;
  top: -2px;
  right: 2px;
}
#es .profile-data-timezone .profile-data-timezone-toggle {
  height: 24px;
  position: relative;
  color: #858585 !important;
  border: 1px solid rgba(0,0,0,0) !important;
  border: 1px solid transparent;
  padding: 0 3px 0;
  background: none !important;
  line-height: 24px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#es .profile-data-timezone .profile-data-timezone-toggle .caret {
  position: relative;
  top: -3px;
  opacity: 0;
  filter: alpha(opacity=0);
  border-top: 4px solid #666;
}
#es .profile-data-timezone:hover .profile-data-timezone-toggle {
  color: #858585 !important;
  background-color: #fff !important;
  border-color: #d7d7d7 !important;
}
#es .profile-data-timezone:hover .profile-data-timezone-toggle .caret {
  opacity: 1;
  filteR: alpha(opacity=100);
}
#es .es-block-reason {
  background-color: #f5f5f5;
  border: 1px dashed #ddd;
  color: #888;
  margin: 5px 0;
  padding: 5px 10px;
  border-radius: 3px;
}
#es .es-user-banned {
  border-radius: 3px;
}
#es .es-user-banned b {
  display: block;
  font-size: 110%;
  margin: 0 0 3px;
}
#es.is-mobile.view-profile.layout-edit .form-profile,
#es.is-mobile.view-profile.layout-edit .form-social {
  margin: 0;
}
#es.is-mobile.layout-editPrivacy .privacy-contents .o-form-group {
  padding: 0 16px;
}
#es.is-mobile.layout-editPrivacy .o-form-actions {
  padding: 16px;
}
#es.popbox.popbox-profile {
  width: 420px !important;
  height: 215px !important;
  background-color: #fff !important;
  border-radius: 1px;
  padding: 0;
  border: 1px solid rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
#es.popbox.popbox-profile.top-left .arrow {
  border-top-color: #f2f2f2;
}
#es.popbox.popbox-profile .profile-details {
  position: absolute;
  z-index: 2;
  bottom: 75px;
  left: 0;
  color: white;
  padding: 20px 10px 5px 86px;
  width: 100%;
  height: 61px;
  background-image: -webkit-linear-gradient(rgba(255,255,255,0),rgba(0,0,0,0.1) 30%,rgba(0,0,0,0.5));
  background-image: -o-linear-gradient(rgba(255,255,255,0),rgba(0,0,0,0.1) 30%,rgba(0,0,0,0.5));
  background-image: linear-gradient(rgba(255,255,255,0),rgba(0,0,0,0.1) 30%,rgba(0,0,0,0.5));
  background-repeat: no-repeat;
}
#es.popbox.popbox-profile .profile-details .profile-title {
  font-weight: bold;
  font-size: 13px;
}
#es.popbox.popbox-profile .profile-details .profile-title > a {
  color: white !important;
}
#es.popbox.popbox-profile .profile-details .profile-title > a:hover {
  text-decoration: underline !important;
  background: none !important;
}
#es.popbox.popbox-profile .profile-details .profile-title,
#es.popbox.popbox-profile .profile-details .profile-desp {
  text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#es.popbox.popbox-profile .popbox-cover {
  display: block;
  width: 100%;
  height: 140px;
  background: #333;
  position: absolute;
}
#es.popbox.popbox-profile .popbox-cover > div {
  width: 100%;
  height: 100%;
}
#es.popbox.popbox-profile .es-online-status {
  position: absolute;
  bottom: 117px;
  left: 77px;
  right: auto;
  top: auto;
}
#es.popbox.popbox-profile .o-avatar-status {
  position: absolute;
  z-index: 2;
  left: 10px;
  bottom: 50px;
  border-radius: 2px;
  overflow: visible;
  width: 64px;
  height: 64px;
  border: 2px solid #fff;
}
#es.popbox.popbox-profile .o-avatar-status img {
  width: 60px;
  height: 60px;
  background: #fff;
  display: block;
  max-width: none;
}
#es.popbox.popbox-profile .popbox-info {
  position: absolute;
  width: 100%;
  padding-left: 85px;
  bottom: 32px;
}
#es.popbox.popbox-profile .btn-group {
  display: inline-block;
  font-size: 0;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
}
#es.popbox.popbox-profile .pull-right {
  float: right;
}
#es.popbox.popbox-profile .btn-es {
  display: inline-block;
  outline: 0;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 1.538461538;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #d7d7d7;
  *border: 0;
  border-bottom-color: #bebebe;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
#es.popbox.popbox-profile .btn-es:hover {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  background-color: #e6e6e6;
  -webkit-transition: background-position .1s linear;
  -o-transition: background-position .1s linear;
  transition: background-position .1s linear;
}
#es.popbox.popbox-profile .btn-es:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
#es.popbox.popbox-profile .btn-es.active,
#es.popbox.popbox-profile .btn-es:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
#es.popbox.popbox-profile .btn-es.disabled,
#es.popbox.popbox-profile .btn-es[disabled] {
  cursor: default;
  background-image: none;
  opacity: .65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
#es.popbox.popbox-profile .btn-group + .btn-group {
  margin: 0;
  left: -5px;
}
#es.popbox.popbox-profile .btn-friends {
  border-radius: 3px;
}
#es.popbox.popbox-profile .btn-message {
  border-radius: 0 3px 3px 0;
  position: relative;
  left: -2px;
}
#es.popbox.popbox-profile .popbox-footer {
  background: #f2f2f2;
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: 0px;
  padding: 7px 10px;
}
#es.popbox.popbox-profile .popbox-footer a:focus {
  outline: none;
}
#es.popbox.popbox-profile .popbox-items {
  margin: 0 !important;
  list-style: none;
}
#es.popbox.popbox-profile .popbox-items > li {
  width: 31%;
  display: inline-block !important;
  text-align: center !important;
  margin: 0 -3px 0 0 !important;
}
#es.popbox.popbox-profile .popbox-item-info {
  border-left: 1px solid #f2f2f2 !important;
  padding: 2px 2px 4px !important;
  font-size: 12px !important;
  line-height: 14px !important;
  width: 100% !important;
  height: 36px !important;
  overflow: hidden !important;
}
#es.popbox.popbox-profile .popbox-item-info > a {
  color: rgba(0,0,0,0.8);
}
#es.popbox.popbox-profile .popbox-item-info > a:hover .popbox-item-total {
  text-decoration: underline !important;
}
#es.popbox.popbox-profile .popbox-item-info .popbox-item-total {
  line-height: 14px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  font-weight: bold;
}
#es.popbox.popbox-profile .popbox-item-info .popbox-item-text {
  line-height: 14px !important;
}
#es.popbox.popbox-profile .fd-nav {
  position: relative;
}
#es.popbox.popbox-profile .popbox-restricted {
  height: 215px;
  position: relative;
  background-color: #f0f0f0;
  padding: 16px;
}
#es.popbox.popbox-profile .popbox-restricted__content {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}
#es.popbox.popbox-profile .popbox-restricted__title {
  font-weight: bold;
}
#es.popbox.popbox-timezone .es-timezone-block {
  display: block;
  padding: 10px;
  border-top: 1px solid #d7d7d7;
}
#es.popbox.popbox-timezone .es-timezone-block:hover {
  background: #fafafa;
}
#es.popbox.popbox-timezone .es-timezone-block:first-child {
  border-top: 0;
}
#es.popbox.popbox-timezone .es-timezone-block.es-timezone-by a {
  font-size: 11px;
  color: #aaa;
}
@media (max-width: 680px) {
  #es.popbox.popbox-profile {
    width: 98% !important;
    left: 5px !important;
    right: 5px !important;
  }
  #es.popbox.popbox-profile .arrow {
    display: none !important;
  }
}
