#es .es-activity .activity-meta {
  margin-top: 8px;
  color: #888;
  font-size: 13px;
}
#es .activity-content,
#es .activity-content blockquote {
  font-size: 13px;
}
#es .es-app-filter.has-favicon .app-title {
  margin-left: 24px;
}
