/* Admin generic styles */

table.admintable {
	width: 100%;
}

table.admintable td.left_title {
	width: 20% !important;
}

table.admintable td.right_details {
	width: 80% !important;
}

table.admintable input, table.admintable textarea {
	width: 50% !important;
	min-width: 250px !important;
}

table.adminlist td button.btn[data-action=savemeta],
table.adminlist td button.btn[data-action=deletemeta] {
	line-height: 16px;
}

table.adminlist td label.label-sources {
	margin-right: 5px;
}

table.adminlist td textarea.metainfo {
	width: 100%;
	height: 80px;
}

table.adminlist td select.robots_directive {
	width: 100%;
}

table.adminlist td.link_loc {
	word-break: break-word;
}

table.adminlist td.link_loc a {
	min-width: 100px;
}

table.adminlist tr.subtitles td {
	font-size: 12px;
} 

div.alert span.glyphicon-remove {
	font-size: 11px;
}

table.adminlist img.metainfo-waiter {
	width: 22px;
	height: 22px;
	margin: 5px 5px 0 0;
}

table.adminlist span.labelmetainfo {
	font-size: 12px;
    font-weight: normal;
	margin: 5px 5px 0 5px;
}

table.adminlist span.labelmetainfo span.jmapmetainfo_chars_count,
table.adminlist span.labelmetainfo span.jmapmetainfo_pixel_count {
	display: inline-block;
	margin-right: 4px;
}

table.adminlist button.btn[disabled=disabled] {
	opacity: 0.3;
}

#jmap_alert_message {
	position: fixed;
	top: 35px;
	right: 1%;
	z-index: 99999;
}

#alert_append .input-group {
	margin: 10px 0 10px 0;
}

span.input-group {
	max-width: 380px;
}

label.jmap_inactive {
	background: #e6e6e6 !important;
	color: #333 !important;
	border: 1px solid #CCC !important;
}

div.input-append.input-prepend.mediaimagefield {
	width: 100%;
}

div.input-append.input-prepend.mediaimagefield input[id^=jform_media] {
	max-width: 100px;
}

span.jmapmetainfo_fake_element {
	display: none;
	max-width: none;
    position: fixed;
    left: -5000px;
    top: -5000px;
    white-space: nowrap;
}

@media (min-width: 1400px) {
	div.input-append.input-prepend.mediaimagefield input[id^=jform_media],
	table.adminlist input[type=text].field-media-input.mediaimagefield {
		width: auto;
		max-width: 100%;
	}
}

@media (max-width: 1099px) {
	table.adminlist span.labelmetainfo {
		font-size: 10px;
		margin: 5px 2px 0 2px;
	}
}

@media (max-width: 1024px) {
	body.admin.com_jmap {
		min-width: 1024px;
	}
}

table.adminlist td.metaimage div.control-label {
	display: none;
}