/** PageSpeed test **/

form.jmap-pagespeed table.table-centered th,
form.jmap-pagespeed table.table-centered td {
	text-align: center;
}

form.jmap-pagespeed table.table-centered td span.label {
	white-space: nowrap;
}

div.pagespeed-pagelink {
	margin: 10px 5px;
}

img.pagespeed-preview + div.panel {
	clear: both;
}

form.jmap-pagespeed span.label-score {
	border-radius: 1px;
    font-weight: bold;
}

form.jmap-pagespeed table.adminlist th:not(:last-child), 
form.jmap-pagespeed table.adminlist td:not(:last-child) {
    border-right: 1px solid #CCC;
}

form.jmap-pagespeed table.adminlist td.report-url {
    max-width: 300px;
    white-space: normal;
    word-break: break-all;
}

div.pagespeed-performance-score.label {
	clear: both;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    line-height: 54px;
}

div.pagespeed-performance-score.label > span {
    font-size: 50px;
    vertical-align: text-top;
    border-radius: 50px;
    background: #FFF;
    padding: 8px 8px 7px;
}

div.pagespeed-performance-score.label > span.score-max {
    font-size: 40px;
    border-radius: 60px;
    padding: 16px 5px 15px;
}

div.pagespeed-performance-score.label > span.score-min {
	padding: 8px 22px 7px;
}

div.pagespeed-performance-score.label.label-success {
	color: #3c763d;
}

div.pagespeed-performance-score.label.label-warning {
	color: #f89406;
}

div.pagespeed-performance-score.label.label-danger {
	color: #d30000;
    background-color: #d30000;
}

div.pagespeed-performance-score.label.label-primary {
	color: #428bca;
}

form.jmap-pagespeed div.pagespeed_slider {
    height: 20px;
    width: 96%;
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box;
}

form.jmap-pagespeed div.pagespeed_slider div.inner_slider {
    height: 20px;
    color: #FFF;
    font-weight: bold;
	min-width: 50px;
}

form.jmap-pagespeed div.pagespeed_slider div.inner_slider.slider-success {
	background-color: #3c763d;
}

form.jmap-pagespeed div.pagespeed_slider div.inner_slider.slider-warning {
    background-color: #f89406;
}

form.jmap-pagespeed div.pagespeed_slider div.inner_slider.slider-danger {
	background-color: #d30000;
}

form.jmap-pagespeed div.pagespeed_slider div.inner_slider.slider-primary {
	background-color: #428bca;
}

form.jmap-pagespeed div.pagespeed_slider_legend {
	width: 96%;
    margin: 5px 10px;
    box-sizing: border-box;
}

form.jmap-pagespeed div.pagespeed_slider_legend span.pagespeed_slider_legend_success {
	float: left;
	width: 11%;
    overflow: visible;
    white-space: nowrap;
    background: #3c763d;
    font-size: 10px;
    color: #FFF;
	height: 12px;
    line-height: 12px;
}

form.jmap-pagespeed div.pagespeed_slider_legend span.pagespeed_slider_legend_warning {
	float: left;
    width: 40%;
    background: #f89406;
    font-size: 10px;
    color: #FFF;
    height: 12px;
    line-height: 12px;
}

form.jmap-pagespeed div.pagespeed_slider_legend span.pagespeed_slider_legend_danger {
	float: left;
	width: 49%;
    background: #d30000;
    font-size: 10px;
    color: #FFF;
    height: 12px;
    line-height: 12px;
}

div.pagespeed-pagelink span.input-group {
    max-width: 500px;
}

div.pagespeed-pagelink input.inputbox-large {
	width: 100%;
}

@media ( max-width: 480px) {
	#jmap_google_pagespeed_performance table.adminlist th {
	    padding: 2px;
	    font-size: 12px;
	}
}

@media ( max-width: 379px) {
	form.jmap-pagespeed table th.hidden-xs-phone,
	form.jmap-pagespeed table td.hidden-xs-phone {
		display: none;
	}
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
   div.label.pagespeed-performance-score > span {
		vertical-align: baseline;
		display: inline-block;
		margin-top: 13px;
   }
   
   div.label.pagespeed-performance-score > span.score-max {
	    font-size: 40px;
	    border-radius: 60px;
	    padding: 20px 5px 18px;
	    line-height: 36px;
	    margin-top: 10px;
	}
}