#es .es-cover-title {
  margin: 5px 0;
  word-break: break-all;
}
#es .es-title-font {
  font-family: inherit;
}
#es .es-user-info {
  font-size: 13px;
}
#es .es-user-name {
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#es .es-count-no {
  line-height: 16px;
  font-size: 9px;
  background: #e5e5e5;
  border: 1px solid #d7d7d7;
  border-radius: 2px 2px 2px 2px;
  color: #666;
  padding: 2px 4px;
}
#es .es-hr {
  margin: 20px 0;
  border-top: 1px solid #e1e1e1;
}
#es .es-bg-shade {
  background-color: #f0f0f0;
}
#es .fa-rss-square {
  color: #E37126;
}
#es .es-snackbar .btn-rss {
  font-size: 12px;
  font-weight: normal;
}
#es .es-divider-top {
  border-top: 1px solid #d7d7d7;
}
#es .es-divider-bottom {
  border-bottom: 1px solid #d7d7d7;
}
#es .app-icon-small {
  width: 16px;
  height: 16px;
}
#es .view-heading {
  margin: 35px 0 0;
  padding-bottom: 35px;
  text-align: center;
}
#es .label-notification {
  background: #e16273;
  color: #fff !important;
  border: 0;
  border-radius: 8px;
  font-size: 9px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  padding: 0 3px;
  line-height: 12px;
  display: none;
  min-width: 16px;
  width: auto;
  height: 16px;
  line-height: 16px;
  text-align: center;
}
#es .has-notice .label-notification {
  display: block;
}
#es .search-highlight {
  background: #ff9;
  color: #333;
  padding: 1px 3px;
}
#es i {
  width: auto;
  height: auto;
}
#es .stream-meta:before,
#es .stream-meta:after,
#es .stream-content:before,
#es .stream-content:after,
#es .widget-box:before,
#es .widget-box:after,
#es .widget-body:before,
#es .widget-body:after,
#es .blog-description:before,
#es .blog-description:after,
#es .article-item-meta:before,
#es .article-item-meta:after,
#es .article-item-actions:before,
#es .article-item-actions:after,
#es .es-modules-wrap:before,
#es .es-modules-wrap:after {
  content: " ";
  display: table;
}
#es .stream-meta:after,
#es .stream-content:after,
#es .widget-box:after,
#es .widget-body:after,
#es .blog-description:after,
#es .article-item-meta:after,
#es .article-item-actions:after,
#es .es-modules-wrap:after {
  clear: both;
}
#es .step-content {
  display: none;
}
#es .step-content.active {
  display: block;
}
#es .es-profile-data-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}
#es .es-profile-data-table tr,
#es .es-profile-data-table td {
  border: 1px solid transparent;
  padding: 8px;
  vertical-align: top;
}
#es .es-profile-data-table tbody > tr > td {
  border-top: none;
}
#es .profile-data-label {
  width: 180px;
}
#es .profile-data-info a {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}
#es.is-mobile .profile-data-label {
  width: 100px;
}
#es .btn-group > .dropdown-menu {
  font-size: 13px;
}
#es .i-chevron:before {
  border-style: solid;
  border-width: .1em .1em 0 0;
  content: '';
  display: inline-block;
  width: .5em;
  height: .5em;
  position: relative;
  top: .45em;
  left: 0;
  vertical-align: top;
}
#es .i-chevron.i-chevron--up:before {
  top: .5em;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#es .i-chevron.i-chevron--right:before {
  left: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#es .i-chevron.i-chevron--down:before {
  top: 0.25em;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
#es .i-chevron.i-chevron--left:before {
  left: .15em;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
#es .es-rsvp-notice {
  width: 240px;
  word-wrap: break-word;
  white-space: normal;
  padding: 0 8px;
}
#es .es-rss-item,
#es .es-blog-item {
  margin-bottom: 16px;
}
#es .es-blog-item__title {
  font-size: 15px;
}
#es .es-blog-item__meta a,
#es .es-blog-item__meta span {
  color: #888;
  font-size: 12px;
}
#es .es-blog-item + .es-blog-item {
  border-top: 1px solid #ccc;
  padding-top: 16px;
}
#es .es-discuss-group__title {
  font-size: 13px;
  font-weight: bold;
}
#es .es-discuss-group__meta a,
#es .es-discuss-group__meta span {
  color: #888;
  font-size: 12px;
}
#es .es-discuss-group + .es-discuss-group {
  border-top: 1px solid #ccc;
  padding-top: 16px;
  margin-top: 8px;
}
#es .es-discuss-item + .es-discuss-item {
  border-top: 1px dashed #ccc;
  padding-top: 8px;
  margin-top: 8px;
}
#es .es-discuss-link {
  vertical-align: text-top;
}
#es .es-calendar-date {
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 8px;
  text-align: center;
  width: 44px;
}
#es .es-calendar-date__date {
  font-weight: bold;
  font-size: 13px;
  line-height: 13px;
}
#es .es-calendar-date__mth {
  color: #d9534f;
  font-size: 13px;
  line-height: 13px;
}
#es .es-calendar-date__title {
  color: #333;
}
#es .dropdown-menu--rsvp > li.active a {
  position: relative;
}
#es .dropdown-menu--rsvp > li.active a:after {
  content: "\f00c";
  position: absolute;
  top: 0;
  right: 8px;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  font-size: 13px !important;
  color: #333 !important;
  width: 20px !important;
  height: 20px !important;
  text-align: center !important;
}
#es .row-table {
  display: table;
  width: 100%;
}
#es .col-cell {
  display: table-cell;
  vertical-align: top;
  float: none !important;
}
#es .col-cell.cell-mid {
  vertical-align: middle;
}
#es .cell-half {
  width: 50%;
}
#es .cell-tight {
  width: 1%;
  white-space: nowrap;
}
#es .panel-go .col-cell {
  vertical-align: middle;
  padding: 30px 50px;
}
#es .panel-go .col-cell +.col-cell {
  border-left: 1px solid #eee;
}
#es .es-user-status-indicator {
  position: absolute;
  top: -4px;
  right: -6px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #39b54a;
  border: 2px solid #fff;
}
#es .es-user-status-indicator.is-offline {
  background-color: #d9534f;
}
#es .es-debug-code {
  position: relative !important;
}
#es .es-debug-code:hover {
  z-index: 9999 !important;
}
#es .es-debug-code__text {
  position: absolute !important;
  top: 0 !important;
  color: #d9534f !important;
  background: #fff !important;
  padding: 2px 4px !important;
  font-family: Helvetica, Arial, sans-serif !important;
  border: 1px dashed #d7d7d7 !important;
  font-size: 11px !important;
  z-index: 999 !important;
  white-space: pre !important;
}
#es .es-debug-code__text i {
  display: inline-block !important;
}
#es [data-es-debug]:before,
#es [data-es-debug]:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.18s ease-out 0.18s;
  transition: all 0.18s ease-out 0.18s;
  bottom: 100%;
  left: 50%;
  position: absolute;
  z-index: 10;
  -webkit-transform: translate(-50%,10px);
  -ms-transform: translate(-50%,10px);
  transform: translate(-50%,10px);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
}
#es [data-es-debug]:after {
  background: rgba(17,17,17,0.9);
  border-radius: 4px;
  color: #fff;
  content: attr(data-es-debug);
  font-size: 12px;
  padding: .5em 1em;
  white-space: pre;
  margin-bottom: 11px;
}
#es [data-es-debug]:before {
  background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%280%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E') no-repeat;
  background-size: 100% auto;
  height: 6px;
  width: 18px;
  content: "";
  margin-bottom: 5px;
}
#es [data-es-debug]:hover:before,
#es [data-es-debug][data-es-debug-visible]:before,
#es [data-es-debug]:hover:after,
#es [data-es-debug][data-es-debug-visible]:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  transform: translate(-50%,0);
}
#es [data-es-debug].font-awesome:after {
  font-family: FontAwesome;
}
#es [data-es-debug][data-es-debug-break]:after {
  white-space: pre;
}
